<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Lista de Actores</h1>
    <div class='table-wrap'>
      <tabla-actor [actores]='actores' (actoresSel)='mostrarDetalle($event)'></tabla-actor>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <eliminar-actor *ngIf='detallePeli' [actorSelecccionado]='actorSelecccionado' (eliminado)='detallePeli = $event'></eliminar-actor>
    </div>
    <div class="col-md-4">
      <detalle-actor *ngIf='detallePeli === true' [actor]='actorSelecccionado'></detalle-actor>
    </div>
    <div class="col-md-4">
    	<edicion-actor *ngIf='detallePeli === true' [actor]='actorSelecccionado'></edicion-actor>
    </div>
  </div>
  <hr>
</div>
