<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Lista de Actores</h1>
    <div class='table-wrap'>
      <tabla-actor [actores]='actores' (actoresSel)='mostrarDetalle($event)'></tabla-actor>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <tabla-pelicula *ngIf='detallePeli' [peliculas]='listaPeliculas'></tabla-pelicula>
    </div>
    <div class="col-md-4">
      <detalle-pais *ngIf='detallePeli' [pais]='detallePais'></detalle-pais>
    </div>
    <div class="col-md-4">
      <detalle-actor *ngIf='detallePeli' [actor]='actorSelecccionado'></detalle-actor>
    </div>
  </div>
  <hr>
</div>
