<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" routerLink='Bienvenido'>Primer Parcial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="Busqueda">
          Busqueda
        </a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="peliculas" role="button" data-toggle="dropdown">
            Peliculas
          </a>
          <div class="dropdown-menu" aria-labelledby="peliculas">
            <a class="dropdown-item" routerLink='/Peliculas/Alta'>Alta de Peliculas</a>
            <a class="dropdown-item" routerLink='/Peliculas/Listado'>Listado de Peliculas</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="actores" role="button" data-toggle="dropdown">
            Actores
          </a>
          <div class="dropdown-menu" aria-labelledby="actores">
            <a class="dropdown-item" routerLink='/Actor/Alta'>Alta de Actores</a>
            <a class="dropdown-item" routerLink='/Actor/Listado'>Listado de Actores</a>
          </div>
      </li>
    </ul>
  </div>
</nav>
