<div class="card mb-3">
  <img [src]="peli.fotoDeLaPelicula" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{peli.nombre}}</h5>
    <p class="card-text">Genero: {{peli.tipo}}</p>
    <p class="card-text">Actor: {{peli.actores.nombre}} {{peli.actores.apellido}}</p>
    <p class="card-text">Fecha de estreno: {{peli.fechaDeEstreno}}</p>
    <p class="card-text">Publico: {{peli.cantidadDePublico}} espectadores</p>
    <p *ngIf='peli["paisDeOrigen"]' class="card-text">Pais de Origen: {{peli["paisDeOrigen"]}}</p>
  </div>
</div>